section.catalog
    ul.catalog__main-list#tabsCountries
        li.catalog__main-item.active
            ul.catalog__list
                li.catalog__item.catalog__item-france
                    img.catalog__img(src="./images/paintings/france/marsel_russo.jpg"
                                width="310"
                                height="422"
                                alt="Картина Марселя Руссо Охота Амура")
                    p.catalog__author Марсель Руссо
                    h3.catalog__name Охота Амура
                    p.catalog__info Холст, масло (50х80)
                    p.catalog__price 14 500 руб
                    button.button.catalog__button(type="button") В корзину
                li.catalog__item.catalog__item-france
                    img.catalog__img(src="./images/paintings/france/anri_selin.jpg"
                                width="310"
                                height="422"
                                alt="Картина Анри Селинa Дама с собачкой")
                    p.catalog__author Анри Селин
                    h3.catalog__name Дама с собачкой
                    p.catalog__info Акрил, бумага (50х80)
                    p.catalog__price 16 500 руб
                    button.button.catalog__button(type="button") В корзину
                li.catalog__item.catalog__item-france
                    img.catalog__img(src="./images/paintings/france/fransua_dupon.jpg"
                                width="310"
                                height="422"
                                alt="Картина Франсуа Дюпонa Процедура")
                    p.catalog__author Франсуа Дюпон
                    h3.catalog__name Процедура
                    p.catalog__info Цветная литография (40х60)
                    p.catalog__price 20 000 руб
                    button.button.catalog__button(type="button") В корзину
                li.catalog__item.catalog__item-france
                    img.catalog__img(src="./images/paintings/france/lui_detush.jpg"
                                width="310"
                                height="422"
                                alt="Картина Луи Детушa Роза")
                    p.catalog__author Луи Детуш
                    h3.catalog__name Роза
                    p.catalog__info Бумага, акрил (50х80)
                    p.catalog__price 14 500 руб
                    button.button.catalog__button(type="button") В корзину
                li.catalog__item.catalog__item-france
                    img.catalog__img(src="./images/paintings/france/fransua_dupon_2.jpg"
                                width="310"
                                height="422"
                                alt="Картина Франсуа Дюпонa Птичья трапеза")
                    p.catalog__author Франсуа Дюпон
                    h3.catalog__name Птичья трапеза
                    p.catalog__info Цветная литография (40х60)
                    p.catalog__price 22 500 руб
                    button.button.catalog__button(type="button") В корзину
                li.catalog__item.catalog__item-france
                    img.catalog__img(src="./images/paintings/france/pier_morange.jpg"
                                width="310"
                                height="422"
                                alt="Картина Пьер Моранжa Пейзаж с рыбой")
                    p.catalog__author Пьер Моранж
                    h3.catalog__name Пейзаж с рыбой
                    p.catalog__info Цветная литография (40х60)
                    p.catalog__price 20 000 руб
                    button.button.catalog__button(type="button") В корзину